.login-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}
.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.login-popup-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
.login-popup-close-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.login-popup-title .login-popup-close-icon:hover {
  transform: scale(1.3);
}
.login-popup-inputs{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-inputs input{
  outline: none;
  border:1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}
.login-popup-inputs input:hover{
  border: 1px solid var(--secondary-color);
}
.login-popup-condition{
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 8px;
  margin-top:-10px ;
}
.login-popup-condition input{
  margin-top: 3px;
}
.login-popup-container button{
  width: -webkit-fill-available;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: var(--secondary-color);
  font-size: 15px;
  align-items: center;
}
.login-popup p span{
  color: var(--secondary-color);
  font-weight: 500;
  cursor: pointer;
  margin-left: 5px;
}
.login-popup p span:hover{

  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.112);
}
